section.wrapper.content.catalog
  h1  наша продукция
  .blocks
    .block
      .img
        img(src="img/content/catalog/img--1.jpg" alt="")
        ul
          li: a(href="#" target="_blank") фанера березовая фк сортовая
          li: a(href="#" target="_blank") фанера фк строительная
          li: a(href="#" target="_blank") фанера березовая фсф сортовая
          li: a(href="#" target="_blank") фанера фсф строительная
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ       
      p.title берёзовая фанера фк 3      
    .block
      .img
        img(src="img/content/catalog/img--2.jpg" alt="")
        a(href="#" target="_blank").button  
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фк 6
    .block
      .img
        img(src="img/content/catalog/img--3.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фк 8
    .block
      .img
        img(src="img/content/catalog/img--4.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фк 9
    .block
      .img
        img(src="img/content/catalog/img--5.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фк 12
    .block
      .img
        img(src="img/content/catalog/img--6.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фсф сортовая
    .block
      .img
        img(src="img/content/catalog/img--7.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фсф строительная
    .block
      .img
        img(src="img/content/catalog/img--8.jpg" alt="")
        a(href="#" target="_blank").button
           p ПОДРОБНЕЕ
      p.title берёзовая фанера фсф
