.footer
  .fon
  .fon-right
  .info.wrapper
    .line-1
    .line-4
    //- .line-5
    .main
      .office
        .title  Офис:
        .description <span>Н.Новгород, ул. Красносельская, д. 11 б, оф 325</span> <a href="#">на карте</a>
        
      .store
        .title  Склад:
        .description <span>Н.Новгород, пос. Черепичный, возле ворот</span> <a href="#">на карте</a>
      .telephone
        .title  Телефоны
        .block
          .title  по Нижнему Новгороду:
          .description <a href="tel:+78314136137">+7 (831) 413-61-37</a>
        .block
          .title по Москве:
          .description <a href="tel:+79204136137">+7 (920) 413-61-37</a>
      .time
        .title  Режим работы:
        .block
          .left ПН-ПТ
          .right  9:00-21:00  
        .block
          .left СБ
          .right  10:00-17:00
        .block
          .left ВС
          .right  выходной
      .mail
        .title  E-mail:
        .description <a href="mailto:amg59@bk.ru">amg59@bk.ru</a>
    .links
      ul
        li 
          a(href="#") ориентированно-стружечная плита osb 3 (ОСБ 3, ОСП 3)
        li 
          a(href="#") цементно-стружечная плита (цсп)
        li 
          a(href="#") фанера
        li
          a(href="#") брус из клееного шпона (лвл)
        li
          a(href="#") сотовый поликорбонат
        li
          a(href="#") теплоизоляционные материалы


  .logo
    .wrapper
      .line-2
      .line-3
      .company
        a(href="/" class="img")
        p.description Архитектурная мастерская, ©2017
      
      .creator
        a(href="http://www.webmechanica.ru/" target="_blank" class="img")
        p.description Разработка, поддержка и продвижение сайта


<div class="remodal callback" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form id="contactform" name="contact" method="post" action="#">
    <input type="text" class="name" placeholder="Ваше имя" required>
    <input type="tel" class="tel" placeholder="Ваш телефон" required>
    <div class="submit">
      <input type="submit" value="ОТПРАВИТЬ">
    </div>
  </form>
</div>

<div class="remodal feedback" data-remodal-id="feedback" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form id="contactform" name="contact" method="post" action="#">
    <input type="text" class="name" placeholder="Ваше имя" required>
    <input type="tel" class="tel" placeholder="Ваш телефон">
    <input type="email" class="email" placeholder="Ваш e-mail">    
     <textarea name="comment" class="message" placeholder="Ваше сообщение" required></textarea>
    <div class="submit">
      <input type="submit" value="ОТПРАВИТЬ">
    </div>
  </form>
</div>

<script src="js/jquery.min.js"></script>

<script src="js/owl.carousel/owl.carousel.js"></script>
<script src="js/owl.carousel/highlight.js"></script>
<script src="js/owl.carousel/app.js"></script>
<script src="js/owl.carousel/owl.carousel2.thumbs.min.js"></script>

<script src="js/lightGallery/js/lightgallery.js"></script>
<script src="js/lightGallery/js/lg-fullscreen.js"></script>
<script src="js/lightGallery/js/lg-zoom.js"></script>

<script src="js/remodal/remodal.js"></script>

<script src="js/lightslider/src/js/lightslider.js"></script>
<script src="js/main.js"></script>
  