<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>test template</title>
  <meta name="viewport" content="width=device-width"> 
  <link rel="stylesheet" href="js/owl.carousel/owl.carousel.css">
  <link rel="stylesheet" href="js/owl.carousel/owl.theme.default.css">
  <link href="js/lightGallery/css/lightgallery.css" rel="stylesheet">
  <link rel="stylesheet" href="js/remodal/remodal.css">
  <link rel="stylesheet" href="js/remodal/remodal-default-theme.css">
  <link rel="stylesheet"  href="js/lightslider/src/css/lightslider.css"/>
  //- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
