.header.wrapper  
    a(href="/" class="img").logo
      .img
      p АРХИТЕКТУРНАЯ
      p МАСТЕРСКАЯ
    .telephone
      a(href='tel:+78314157711') +7 831 <span>262-27-57</span>
      a(href='tel:+78314157711') +7 831 <span>262-27-57</span>
      a(href='tel:+78314157711') +7 831 <span>262-27-57</span>
      a(href='tel:+78314157711') +7 831 <span>262-27-57</span> 

    .buttons
      .call
        a(href='#modal') Заказать звонок
      .feedback
        a(href='#feedback') Обратная связь
    
    .address
      .block
        .text
          p <span>Офис:</span> 603022, Н.Новгород
          p ул. Красносельская, д.11 б, оф. 325
      .block
        .text
          p <span>Склад:</span> пос. Дружный



