.slider-main(style="background: url(img/content/main/slider--fon.jpg)")
  .owl-carousel.owl-carousel-main-slider.owl-theme.lightgallery_js
    .owl-item
      .text 
        .title.
          OSB-плита <span> ULTRALAM</span>
        .desc-mini.
          ориентированно-стружечная плита<br><span>(oriented strand board)</span><br>материал с уникальными характеристиками
        .desc-full.
          ОСБ-плита (ориентированно-стружечная плита) – материал, который широко используется в процессе возведения и ремонта современных каркасно-панельных зданий. При своей невысокой стоимости, он обладает массой преимуществ, среди которых прочность, невосприимчивость к внешним воздействиям, звуко- и теплоизоляция, долговечность, и прочее. Купить ОСБ плиты сегодня очень просто. Оформить заказ с доставкой в любой район Нижегородской и Московской области вы сможете на сайте нашей компании «Архитектурная мастерская».
      .img
        a(href="img/content/main/slider--2.jpg").carousel-gallery__item
          img(src="img/content/main/slider--2.jpg" alt="")
      .buttons
        .read-more
          a(href="#") подробнее
        .order
          a(href="#") заказать
    .owl-item
        .text 
          .title.
            Название <span> товара</span>
          .desc-mini.
            краткое <span>описание</span>
          .desc-full.
            Подробное описание Подробное описание Подробное описание Подробное описаниеПодробное описаниеПодробное описаниеПодробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описаниеПодробное описание Подробное описаниеПодробное описание 
        .img
          a(href="img/content/main/slider--2.jpg").carousel-gallery__item
            img(src="img/content/main/slider--2.jpg" alt="")
        .buttons
          .read-more
            a(href="#") подробнее
          .order
            a(href="#") заказать         
    .owl-item.
      3
    
.wrapper.content.main
  .catalog
    h2  наша продукция
    .blocks
      .block
        .img
          img(src="img/content/main/block--img--1.jpg" alt="")
          ul
            li: a(href="#" target="_blank") фанера березовая фк сортовая
            li: a(href="#" target="_blank") фанера фк строительная
            li: a(href="#" target="_blank") фанера березовая фсф сортовая
            li: a(href="#" target="_blank") фанера фсф строительная
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ            
        p.title ламинированная фанера
      .block.mobile-hide.tablet-on
        .img
          img(src="img/content/main/block--img--2.jpg" alt="")
          ul
            li: a(href="#" target="_blank") фанера березовая фк сортовая
            li: a(href="#" target="_blank") фанера фк строительная
            li: a(href="#" target="_blank") фанера березовая фсф сортовая
            li: a(href="#" target="_blank") фанера фсф строительная
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ
        p.title берёзовая фанера фк и фсф
      .block
        .img
          img(src="img/content/main/block--img--3.jpg" alt="")
          ul
            li: a(href="#" target="_blank") фанера березовая фк сортовая
            li: a(href="#" target="_blank") фанера фк строительная
            li: a(href="#" target="_blank") фанера березовая фсф сортовая
            li: a(href="#" target="_blank") фанера фсф строительная
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ
        p.title ориентированно-стружечная плита ultralam
      .block.mobile-hide.tablet-on
        .img
          img(src="img/content/main/block--img--4.jpg" alt="")
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ
        p.title брус из клееного шпона (лвл)
      .block
        .img
          img(src="img/content/main/block--img--5.jpg" alt="")
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ
        p.title сотовый поликорбонат 
      .block.mobile-hide.tablet-on
        .img
          img(src="img/content/main/block--img--6.jpg" alt="")
          a(href="#" target="_blank").button
            p ПОДРОБНЕЕ
        p.title теплоизоляционные материалы       

  
.about
  .wrapper.content.main    
    .about-block      
      h2 о нас
      p.description.
        «Архитектурная Мастерская» уже более 15 лет является одной из крупнейших российских компаний по продаже древесно-стружечных плит, фанеры и МДФ производства Латвии, Украины, Румынии, Польши и России. Являясь дилерами ведущих предприятий, мы имеем возможность выстраивать гибкую финансовую политику, осуществлять выгодное ценообразование на предлагаемую продукцию и отгружать в любые регионы России. Вся поставляемая нами продукция проходит строгий контроль качества и сертификацию согласно законам Российской Федерации.
      p.description.mobile-hide.tablet-on.
        Сегодня «Архитектурная Мастерская» представляет собой сформировавшуюся, стабильно работающую компанию, прочно занявшую свое место на рынке. Сервис компании включает в себя оперативное оформление заказа и несколько вариантов оплаты, удобную форму заявки и гарантию на все приобретенные плиты.
      p.description.mobile-hide.tablet-on.
        В ассортименте нашего магазина плиты OSB, QSB, MDF, ЛДСП, ДСП, ознакомиться с характеристиками изделий вы можете в соответствующих разделах.
      p.description.mobile-hide.desktop-on.
        Если вас заинтересовали наши предложения или возникли вопросы, менеджеры компании всегда готовы дать полную консультацию. Доставка осуществляется способом, удобным для заказчика в минимальные сроки.
      p.description.mobile-hide.desktop-on.
        В нашем интернет-магазине Вам предложат:
      ol.mobile-hide.desktop-on
        li  Выгодные цены.
        li  Простое оформление заказа.
        li  Отлаженную систему доставки.   
      p.description.mobile-hide.desktop-on.
        Покупая плиты ОСП оптом, вы приобретаете не только высококачественную продукцию, но и надежного партнера в лице нашей компании.


.news
  .top-fon 
  .wrapper.content.main    
    .news-block
      h2 новости
      .all-news 
        a(href="#" target="_blank") архив новостей
      .blocks
        .block
          .date 12/05/2018
          .title  О повышении цен на ОСБ
          .description Изменение цены вступает в силу с 01 апреля 2016 года.
          .read-more: a(href="#" target="_blank") подробнее
        .block
          .date 28/03/2018
          .title  Идея спальной капсулы из фанеры для маленькой квартиры-студии
          .description Решение со спальным местом для маленькой квартиры
          .read-more: a(href="#" target="_blank") подробнее
        .block
          .date 25/07/2017
          .title  Фанера ламинированная - 36000 руб/куб!
          .description СПЕЦПРЕДЛОЖЕНИЕ! Фанера ламинированная производитель Сыктывкарский Фанерный Завод 18-21 мм, 1 сорт,
          .read-more: a(href="#" target="_blank") подробнее   


.wrapper.content.main
  .partnership
    h2 наши партнёры
    .blocks
      a(href="#" target="_blank").block: img(src="img/content/main/partner--1.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--2.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--3.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--4.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--5.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--6.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--7.jpg" alt="")
      a(href="#" target="_blank").block: img(src="img/content/main/partner--8.jpg" alt="")
      a(href="#" target="_blank").block.mobile-hide.desktop-on: img(src="img/content/main/partner--9.jpg" alt="")
      a(href="#" target="_blank").block.mobile-hide.desktop-on: img(src="img/content/main/partner--10.jpg" alt="")
      a(href="#" target="_blank").block.mobile-hide.desktop-on: img(src="img/content/main/partner--11.png" alt="")