.menu
  .wrapper
    nav.top-menu
      ul
        li 
          a(href="catalog.html") Каталог
        li 
          a(href="main.html") О компании
        li 
          a(href="#") Доставка и оплата
        li 
          a(href="#") Цены
        li 
          a(href="#") Акции
        li 
          a(href="#") Новости
        li 
          a(href="#") Контакты
      
      .gamburger
        .icon-menu
          .sw-topper
          .sw-bottom
          .sw-footer
    
    <form action="" method="post" class="search">
      <input type="search" name="" placeholder="Найти..." class="input" />
      <div class="submit-button">
      <input type="submit" name="" value="" class="submit" />
      </div>
    </form>