.content.wrapper
  nav.breadcrumbs
    ul
      li 
        a(href="/") Главная
      li 
        a(href="#") Каталог
      li 
        a(href="#") Берёзовая фанера
      li 
        a(href="#") ФК 3

  h1 заголовок первого уровня
  .block-with-img 
    img(src="img/content/test/product.jpg" alt="")
    .text 
      p.description.
        Фанера марки ФК производится из березового шпона и обладает высокой прочностью и влагоустойчивостью. Фанера 3 мм - самая тонкая из всей серийно выпускаемой у нас в стране фанеры. Небольшая толщина и вес позволяет использовать её для отделки помещений.
      .specifications
        p.title Технические характеристики:
        .left
          p плотность<br>формат листа<br>вес листа<br>количество листов в м<sup>3</sup>
        .right
          p 660 кг/м<sup>3</sup><br> 1525x1525 мм<br>4,6 кг<br>143
      .order 
        a(href="#") Заказать
      
  h2 заголовок второго уровня
  p.
    Сегодня "Архитектурная Мастерская" представляет собой сформировавшуюся, стабильно работающую компанию, прочно занявшую свое место на рынке. <span class="mobile-hide tablet-on">Сервис компании включает в себя оперативное оформление заказа и несколько вариантов оплаты, удобную форму заявки и гарантию на все приобретенные плиты.</span>
  p.mobile-hide.desktop-on.
    В ассортименте нашего магазина плиты OSB, QSB, MDF, ЛДСП, ДСП. Ознакомиться с характеристиками изделий вы можете в соответствующих разделах.
  p.mobile-hide.desktop-on.
    Если вас заинтересовали наши предложения или возникли вопросы, менеджеры компании всегда готовы дать полную консультацию. Доставка осуществляется способом, удобным для заказчика в минимальные сроки.
  h3 Заголовок третьего уровня
  p.
    Фанера марки ФК производства холдинга СВЕЗА производится из березового шпона и обладает высокой прочностью и влагоустойчивостью. Фанера 3 мм это самая тонкая из всей серийно выпускаемой у нас в стране фанеры. Небольшая толщина и вес позволяют использовать её для отделки помещений.
  h3 Оформление списков
  ul <span>Применение фанеры ФК 3 мм</span>
    li  строительство
    li  мебель
      ul
        li  стулья
        li  столы
        li  шкафы
    li  транспорт
  ol <span>В нашем интернет-магазине Вам предложат</span>
    li  Выгодные цены.
    li  Простое оформление заказа.
    li  Отлаженную систему доставки
  h3 Оформление галлереи


.gallery
  .content.wrapper
    .slider-gallery__block     
      ul.slider-gallery.gallery.list-unstyled.cS-hidden
        li(data-thumb="img/content/test/slider--1.jpg"): img(src="img/content/test/slider--1.jpg")
        li(data-thumb="img/content/main/block--img--1.jpg"): img(src="img/content/main/block--img--1.jpg")
        li(data-thumb="img/content/main/block--img--2.jpg"): img(src="img/content/main/block--img--2.jpg")  
        li(data-thumb="img/content/main/block--img--3.jpg"): img(src="img/content/main/block--img--3.jpg")  
        li(data-thumb="img/content/main/block--img--4.jpg"): img(src="img/content/main/block--img--4.jpg")
        li(data-thumb="img/content/main/partner--1.jpg"): img(src="img/content/main/partner--1.jpg")
        li(data-thumb="img/content/main/partner--2.jpg"): img(src="img/content/main/partner--2.jpg")
        li(data-thumb="img/content/main/partner--3.jpg"): img(src="img/content/main/partner--3.jpg")  
        li(data-thumb="img/content/main/partner--4.jpg"): img(src="img/content/main/partner--4.jpg")  
        li(data-thumb="img/content/main/partner--5.jpg"): img(src="img/content/main/partner--5.jpg")
        li(data-thumb="img/content/test/slider--1.jpg"): img(src="img/content/test/slider--1.jpg")
        li(data-thumb="img/content/main/block--img--1.jpg"): img(src="img/content/main/block--img--1.jpg")
        li(data-thumb="img/content/main/block--img--2.jpg"): img(src="img/content/main/block--img--2.jpg")  
        li(data-thumb="img/content/main/block--img--3.jpg"): img(src="img/content/main/block--img--3.jpg")  
        li(data-thumb="img/content/main/block--img--4.jpg"): img(src="img/content/main/block--img--4.jpg")  
      .arrows-for-mini
        .left
        .right
  
.content.wrapper        
  .reference-info
    h3 Справочная информация  
    .block
      a(href="#" download)
        .img.doc
          div
        .text
          .title  Инструкция по использованию.doc
          .size   12,3 Kb
    .block
      a(href="#" download)
        .img.xls
          div
        .text
          .title  Характеристики_ФКЗ.xls
          .size   14.21 Kb
    .block
      a(href="#" download)
        .img.pdf
          div
        .text
          .title  Прайс-лист.pdf
          .size   214,5 Kb
    
  h3 Оформление таблицы
  table
    tr
      td  Столбец 1
      td  Столбец 2
      td  Столбец 3
      td  Столбец 4
    tr
      td  Поле 1
      td  Поле 1
      td  Поле 1
      td  Поле 1
    tr
      td  Поле 2
      td  Поле 2, занимающее две строки
      td  Поле 2
      td  Поле 2
    tr
      td  Поле 3
      td  Поле 3
      td  Поле 3
      td  Поле 3
    tr
      td  Поле 4
      td  Поле 4
      td  Поле 4
      td  Поле 4

<br><br><br>
