.content h1,
.content h2,
.content h3,
.content .block-with-img,
.content .block-with-img img,
.content .block-with-img .text,
.content .block-with-img .description,
.content .block-with-img .specifications .title,
.content .reference-info h3,
.mobile-hide,
.tablet-on,
.desktop-on,
.header,
.header .logo,
.header .logo .img,
.header .logo p,
.header .telephone,
.header .telephone a,
.header .telephone a span,
.header .buttons,
.header .buttons .call, .header .buttons .feedback,
.header .buttons .call a, .header .buttons .feedback a,
.header .buttons .call,
.header .buttons .call a,
.header .buttons .feedback,
.header .buttons .feedback a,
.header .address,
.header .address .block,
.header .address .block .text,
.header .address .block .text p,
.header .address .block .text p span,
.menu,
.menu .wrapper,
.menu .search,
.menu .search .input,
.menu .search .submit-button,
.menu .search .submit-button .submit,
.menu .top-menu,
.menu .top-menu .gamburger,
.menu .top-menu ul,
.menu .top-menu ul li,
.menu .top-menu ul li .popup,
.menu .top-menu ul li a,
.menu .icon-menu,
.menu .sw-topper, .menu .sw-bottom, .menu .sw-footer,
.menu .sw-topper,
.menu .sw-bottom,
.menu .sw-footer,
.footer,
.footer .fon,
.footer .logo,
.footer .logo .wrapper,
.footer .logo .wrapper .company, .footer .logo .wrapper .creator,
.footer .logo .wrapper .company .description, .footer .logo .wrapper .creator .description,
.footer .logo .wrapper .company a,
.footer .logo .wrapper .company .description,
.footer .logo .wrapper .creator,
.footer .logo .wrapper .creator a,
.footer .logo .wrapper .creator .description,
.footer .logo .wrapper .company,
.footer .wrapper,
.footer .info,
.footer .info .links,
.footer .info .main,
.footer .info .main .office, .footer .info .main .store,
.footer .info .main .office .title, .footer .info .main .store .title,
.footer .info .main .office .description, .footer .info .main .store .description,
.footer .info .main .office .description span, .footer .info .main .store .description span,
.footer .info .main .office .description a, .footer .info .main .store .description a,
.footer .info .main .office,
.footer .info .main .store,
.footer .info .main .telephone,
.footer .info .main .telephone .title,
.footer .info .main .telephone .block,
.footer .info .main .telephone .block .title,
.footer .info .main .telephone .block .description,
.footer .info .main .telephone .block .description a,
.footer .info .main .time,
.footer .info .main .time .title,
.footer .info .main .time .block .left,
.footer .info .main .time .block .right,
.footer .info .main .mail,
.footer .info .main .mail .title,
.footer .info .main .mail .description a,
.footer .info .main .office .title,
.footer .info .main .office .description,
.footer .info .main .store .title,
.footer .info .main .store .description,
.footer .info .main .time .block,
.footer .fon-right,
.footer .info .links ul,
.footer .info .links ul li,
.footer .info .links ul li a,
.content p, .content p span,
.content p.tablet-on, .content p span.tablet-on,
.content p.desktop-on, .content p span.desktop-on,
.content .breadcrumbs,
.content .breadcrumbs ul,
.content .breadcrumbs ul li,
.content .breadcrumbs ul li a,
.content p.mobile-hide, .content p span.mobile-hide,
.content ul, .content ol,
.content ul span, .content ol span,
.content ul li, .content ol li,
.content ul li,
.content ul ul,
.content ul ul li,
.content ol li,
.content .block-with-img .specifications,
.content .block-with-img .specifications .left,
.content .block-with-img .order,
.content .block-with-img .order a,
.content .reference-info,
.content .reference-info .block,
.content .reference-info .block a .text .title,
.content .reference-info .block a .text .size,
.content .reference-info .block a,
.content .reference-info .block a .img.doc,
.content .reference-info .block a .img.doc div,
.content .reference-info .block a .img.xls,
.content .reference-info .block a .img.xls div,
.content .reference-info .block a .img.pdf,
.content .reference-info .block a .img.pdf div,
.content .reference-info .block a .text,
.content table,
.content table tr,
.content table tr td,
.content.wrapper,
body,
.wrapper {
    all: initial;
}.header::after {
    content: "";
    position: absolute;
  background-image: url(../img/sprite.png);
  background-position: 0px -82px;
  background-size: 286px 206px;
  width: 79px;
  height: 124px;
  display: block;
    right: -4px;
    top: 80px;
    max-width: 50px;
}@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic");@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');.mobile-hide {
  display: none;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  position: relative;
}
.header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
.header .logo .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    background-size: 286px 206px;
    width: 151px;
    height: 82px;
    display: block;
    margin-bottom: 5px;
}
.header .logo p {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ff702a;
    width: 100%;
    text-align: center
}
.header .logo p:last-child {
    color: #a92415;
}
.header .telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    margin-right: auto;
}
.header .telephone a {
    color: #353535;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 18px;
    width: 50%;
    text-align: center;
}
.header .telephone a span {
    color: #8d7966;
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    font-weight: 900;
}
.header .telephone a:nth-child(odd) {
    // margin-right: auto;
}
.header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.header .buttons .call::after, .header .buttons .feedback::after {
    border-color: transparent #f8f8f8;
}
.header .buttons .call::before, .header .buttons .feedback::before {
    border-color: transparent transparent #f8f8f8;
}
.header .buttons .call, .header .buttons .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.header .buttons .call a, .header .buttons .feedback a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    line-height: 2.3;
    height: 33px;
    width: 155px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.header .buttons .call::before, .header .buttons .call::after, .header .buttons .feedback::before, .header .buttons .feedback::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 33px 0;
    z-index: 1;
}
.header .buttons .call {
    margin-left: auto;
}
.header .buttons .call a {
    background: #8d7966;
    color: #f2ecf0;
}
.header .buttons .feedback {
    margin-right: auto;
}
.header .buttons .feedback a {
    background: #e2ddd9;
    color: #1b1b1b;
}
.header .address {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
}
.header::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -40px;
  background-image: url(../img/sprite.png);
  background-position: 0px -82px;
  background-size: 286px 206px;
  width: 79px;
  height: 124px;
  display: block;
}
.menu {
  margin-top: 30px;
  background: #e2ddd9;
  display: block;
}
.menu .search::before {
    margin-right: -20px;
}
.menu .wrapper {
    // min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 58px;
}
.menu .search {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 255px;
    margin-left: auto;
}
.menu .search .submit-button::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #e2ddd9;
    border-width: 0 20px 43px 0;
    z-index: 1;
}
.menu .search .input:focus {
    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    // background: #e8e8e8;
    // color: #333;
}
.menu .search .input {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    height: 43px;
    padding-left: 47px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0;
    outline: 0;
    background: #eeeeee
}
.menu .search .input::-webkit-input-placeholder {
    color: rgb(196, 196, 197);
}
.menu .search .submit-button {
    background: #ff702a;
    width: 70px;
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu .search .submit-button .submit {
    cursor: pointer;
    border: none;
    background-image: url(../img/sprite.png);
    background-position: -259px -39px;
    background-size: 286px 206px;
    width: 24px;
    height: 24px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.menu .search .submit-button .submit:hover {
    opacity: 0.8;
}
.menu .search .submit-button::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 43px 0;
    z-index: 1;
    border-color: transparent transparent #eeeeee;
}
.menu .search::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 43px 0;
    z-index: 1;
    border-color: transparent transparent #e2ddd9;
}
/********************************************************
                          MENU
    *********************************************************/
.menu .top-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu .top-menu .gamburger {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 58px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 13px;
    cursor: pointer;
}
.menu .top-menu ul {
    position: absolute;
    margin-top: 60px;
    width: 200px;
    background: #fff;
    z-index: 900;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
    padding: 10px 40px;
    right: 0;
    background: #516199;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.menu .top-menu ul li {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
.menu .top-menu ul li .popup {
    display: none;
}
.menu .top-menu ul li:first-child {
    margin-top: 5px;
}
.menu .top-menu ul li:last-child {
    margin-bottom: 10px;
}
.menu .top-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(238, 238, 238);
    line-height: 1.625;
    font-weight: 600;
}
.menu .icon-menu {
    cursor: pointer;
    display: block;
}
.menu .sw-topper, .menu .sw-bottom, .menu .sw-footer {
    display: block;
    position: relative;
    width: 36px;
    height: 3px;
    background: #3f3e41;
    border: none;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    -webkit-transition-delay: 0.2s, 0s;
            transition-delay: 0.2s, 0s;
}
.menu .sw-topper {
    top: 0;
}
.menu .sw-bottom {
    top: 5px;
}
.menu .sw-footer {
    top: 10px;
}
.footer {
  position: relative;
  overflow: hidden;
}
.footer .fon {
    background: #b7ab9f;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #b7ab9f;
    position: absolute;
}
.footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #8d7966;
    height: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    position: relative;
}
.footer .logo .wrapper {
    max-width: 292px;
    margin-left: auto;
    margin-right: auto;
}
.footer .logo .wrapper .company, .footer .logo .wrapper .creator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer .logo .wrapper .company .description, .footer .logo .wrapper .creator .description {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    color: #fbfff7;
}
.footer .logo .wrapper .company a {
    background-image: url(../img/sprite.png);
    background-position: -151px -39px;
    background-size: 286px 206px;
    width: 73px;
    height: 36px;
    display: block;
}
.footer .logo .wrapper .company .description {
    margin-left: auto;
}
.footer .logo .wrapper .creator {
    margin-top: 25px;
}
.footer .logo .wrapper .creator a {
    background-image: url(../img/sprite.png);
    background-position: -151px 0px;
    background-size: 286px 206px;
    width: 135px;
    height: 39px;
    display: block;
}
.footer .logo .wrapper .creator .description {
    margin-left: auto;
    width: 48%;
}
.footer {
  // background: #b7ab9f;
  display: block;
}
.footer .wrapper {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.footer .info {
    z-index: 1;
    position: relative;
}
.footer .info .links {
    display: none;
}
.footer .info .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 25px;
}
.footer .info .main .office, .footer .info .main .store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer .info .main .office .title, .footer .info .main .store .title {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #251f0f;
}
.footer .info .main .office .description, .footer .info .main .store .description {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #251f0f;
    margin-left: 10px;
}
.footer .info .main .office .description span, .footer .info .main .store .description span {
    display: none;
    font-family: 'Roboto Condensed',sans-serif;
    color: #251f0f;
    font-size: 16px;
}
.footer .info .main .office .description a, .footer .info .main .store .description a {
    font-family: 'Roboto Condensed',sans-serif;
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
}
.footer .info .main .office {
    width: 60%;
}
.footer .info .main .store {
    width: 40%;
}
.footer .info .main .telephone {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.footer .info .main .telephone .title {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #251f0f;
}
.footer .info .main .telephone .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
}
.footer .info .main .telephone .block .title {
    width: 60%;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #251f0f;
}
.footer .info .main .telephone .block .description {
    width: 40%;
}
.footer .info .main .telephone .block .description a {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #251f0f;
}
.footer .info .main .telephone .block:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer .info .main .time {
    display: none;
}
.footer .info .main .time .title {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #251f0f;
}
.footer .info .main .time .block .left {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #251f0f;
}
.footer .info .main .time .block .right {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #251f0f;
}
.footer .info .main .mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
}
.footer .info .main .mail .title {
    width: 42%;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #251f0f;
}
.footer .info .main .mail .description a {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #251f0f;
}
.content .breadcrumbs {
    margin-top: 30px;
    display: block;
}
.content .breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content .breadcrumbs ul li::after {
    content: "\\";
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    color: #b8b8b8;
    margin-left: 8px;
    margin-right: 8px;
}
.content .breadcrumbs ul li:hover a {
    text-decoration: underline;
}
.content .breadcrumbs ul li {
    display: block;
}
.content .breadcrumbs ul li a {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    color: #8e7966;
}
.content .breadcrumbs ul li:last-child a {
    color: #b8b8b8;
}
.content .breadcrumbs ul li:last-child::after {
    display: none;
}
.content h1 {
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.101;
    text-transform: uppercase;
    color: #323232;
    margin-top: 25px;
    margin-bottom: 28px
}
.content h2 {
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 700;
    text-transform: uppercase;
    color: #323232;
    margin-top: 30px;
    margin-bottom: 30px
}
.content h3 {
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.4;
    color: #323232;
    margin-top: 10px;
    margin-bottom: 10px
}
.content p, .content p span {
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    color: #3d3c3f;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto
}
.content p.mobile-hide, .content p span.mobile-hide {
    display: none;
}
.content ul, .content ol {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-left: 19px;
    margin-bottom: 20px;
}
.content ul span, .content ol span {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #3d3c3f;
}
.content ul li, .content ol li {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #3d3c3f;
}
.content ul li {
    display: list-item;
}
.content ul ul {
    display: block;
    list-style-type: disc;
    padding-left: 35px;
}
.content ul ul li {
    display: list-item;
    list-style-type: circle;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #3d3c3f;
}
.content ol li {
    display: list-item;
    list-style-type: decimal;
}
.content .block-with-img .order::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #f8f8f8;
    border-width: 0 25px 42px 0;
    z-index: 1;
}
.content .block-with-img img {
    display: block;
    margin: 0 auto;
    max-height: 195px;
    max-width: 100%
}
.content .block-with-img .text {}
.content .block-with-img .description {
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    color: #3d3c3f;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin-top: 25px;
    margin-bottom: 30px
}
.content .block-with-img .specifications {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content .block-with-img .specifications .title {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    color: #3d3c3f;
    width: 100%
}
.content .block-with-img .specifications .left {
    width: auto;
    margin-right: 35px;
}
.content .block-with-img .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ff702a;
    max-width: 200px;
    margin-top: 35px;
}
.content .block-with-img .order a {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
    line-height: 2.2;
    text-align: center;
    color: #f9f4fa;
    width: 150px;
    height: 42px;
}
.content .block-with-img .order::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 42px 0;
    z-index: 1;
    border-color: transparent transparent #f8f8f8;
}
.content .reference-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content .reference-info h3 {
    width: 100%;
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.4;
    color: #323232;
    margin-top: 10px;
    margin-bottom: 10px
}
.content .reference-info .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}
.content .reference-info .block a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content .reference-info .block a .img.pdf::before {
    margin-right: auto;
}
.content .reference-info .block a .img.pdf::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #f8f8f8;
    border-width: 0 25px 40px 0;
    z-index: 1;
}
.content .reference-info .block a .img.xls::before {
    margin-right: auto;
}
.content .reference-info .block a .img.xls::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #f8f8f8;
    border-width: 0 25px 40px 0;
    z-index: 1;
}
.content .reference-info .block a .img.doc::before {
    margin-right: auto;
}
.content .reference-info .block a .img.doc::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #f8f8f8;
    border-width: 0 25px 40px 0;
    z-index: 1;
}
.content .reference-info .block a .img.doc {
    background-color: #ff702a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 70px;
    max-width: 70px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 7px;
}
.content .reference-info .block a .img.doc div {
    background-image: url(../img/sprite.png);
    background-position: -224px -39px;
    background-size: 286px 206px;
    width: 35px;
    height: 26px;
    display: block;
    position: absolute;
    left: 20px;
}
.content .reference-info .block a .img.doc::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 40px 0;
    z-index: 1;
    border-color: transparent transparent #f8f8f8;
}
.content .reference-info .block a .img.xls {
    background-color: #8e7966;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 70px;
    max-width: 70px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 7px;
}
.content .reference-info .block a .img.xls div {
    background-image: url(../img/sprite.png);
    background-position: -232px -75px;
    background-size: 286px 206px;
    width: 29px;
    height: 26px;
    display: block;
    position: absolute;
    left: 25px;
}
.content .reference-info .block a .img.xls::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 40px 0;
    z-index: 1;
    border-color: transparent transparent #f8f8f8;
}
.content .reference-info .block a .img.pdf {
    background-color: #a92415;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 70px;
    max-width: 70px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 7px;
}
.content .reference-info .block a .img.pdf div {
    background-image: url(../img/sprite.png);
    background-position: -151px -75px;
    background-size: 286px 206px;
    width: 41px;
    height: 41px;
    display: block;
    position: absolute;
    left: 26px;
}
.content .reference-info .block a .img.pdf::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 40px 0;
    z-index: 1;
    border-color: transparent transparent #f8f8f8;
}
.content .reference-info .block a .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content .reference-info .block a .text .title {
    width: 100%;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    line-height: 1.733;
    color: rgb(142, 121, 102)
}
.content .reference-info .block a .text .size {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #323232
}
.content .reference-info .block a:hover .text .title {
    text-decoration: underline;
}
.content table {
    display: table;
    border-collapse: collapse;
}
.content table tr:hover {
    background: #e2ddd9;
}
.content table tr {
    display: table-row;
    background: #e9e5e2;
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;
    background: #e9e5e2;
    display: table-row;
}
.content table tr td {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #323232;
    width: 140px;
    display: table-cell;
    padding-top: 14px;
    padding-bottom: 8px;
    vertical-align: middle;
    cursor: pointer;
}
.content table tr:first-child {
    background: #ae9f92;
}
.content table tr:first-child td {
    font-family: 'Roboto Condensed',sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.content.wrapper {
    max-width: 93.15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

body {
  margin: 0;
  background: #f8f8f8;
}

.wrapper {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto
}

@media (min-width: 320px) {.wrapper {
    max-width: 97.5%;
    }
  }

@media (min-width: 760px) {.content h1 {
        font-size: 42px;
        margin-top: 35px;
        margin-bottom: 35px;
    }.content h2 {
        font-size: 36px;
        line-height: 1.333;
    }.content h3 {
        font-size: 24px;
        line-height: 2;
    }.content .block-with-img img {
        max-height: 280px;
    }.content .block-with-img .description {
        font-size: 16px;
        line-height: 1.5;
    }.content .block-with-img .specifications .title {
        font-size: 16px;
        line-height: 1.5;
    }.content .reference-info h3 {
        font-size: 24px;
        line-height: 2;
    }
  .tablet-on {
    display: block;
  }
  .header::after {
      top: initial;
      bottom: 0;
      right: 197px;
      max-width: none;
    }
  .header {
    padding-top: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .logo {
        margin-bottom: 0;
        margin-right: auto;
        width: 20.8%;
    }
  .header .telephone {
        width: 48%;
    }
  .header .telephone a {
        width: 51%;
        margin-left: auto;
        margin-right: auto;
    }
  .header .telephone a span {
        font-size: 24px;
    }
  .header .buttons {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 235px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 32%;
    }
  .header .buttons .call a, .header .buttons .feedback a {
        height: 42px;
        font-size: 16px;
        line-height: 2.7;
        width: 203px;
        margin-left: -26px;
        margin-right: -26px;
        padding-left: 26px;
        padding-right: 26px;
    }
  .header .buttons .call::before, .header .buttons .call::after, .header .buttons .feedback::before, .header .buttons .feedback::after {
        border-width: 0 26px 42px 0;
    }
  .header .buttons .call {
        margin-bottom: 30px;
        margin-left: 0;
    }
  .header .buttons .feedback {
        margin-left: auto;
        margin-right: 0;
    }
  .header::before {
      top: -50px;
      left: 155px;
    }
  .menu {
    margin-top: 0;
  }
  .menu .wrapper {
        max-width: 100%;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
  .menu .search {
        max-width: 230px;
        margin-left: auto;
        border-left: 1px solid $header-menu-border;
    }
  .menu .top-menu {
        margin-left: 0;
    }
  .footer .logo {
        height: 72px;
    }
  .footer .logo .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 724px;
        width: 100%;
    }
  .footer .logo .wrapper .company {
        width: 45%;
        margin: 0;
        margin-right: auto;
    }
  .footer .logo .wrapper .company a {}
  .footer .logo .wrapper .company .description {
        margin-left: 18px;
    }
  .footer .logo .wrapper .creator {
        width: 45%;
        margin: 0;
    }
  .footer .logo .wrapper .creator a {
        margin-left: auto;
    }
  .footer .logo .wrapper .creator .description {
        margin-left: 18px;
        width: 43%;
    }
  .footer::after {
      right: -15px;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  .footer .fon {}
  .footer .wrapper {
        max-width: 635px;
    }
  .footer .info .main .office, .footer .info .main .store {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
  .footer .info .main .office .title, .footer .info .main .store .title {
        font-size: 16px;
    }
  .footer .info .main .office .description span, .footer .info .main .store .description span {
        font-size: 16px;
        display: inline;
    }
  .footer .info .main .office .description a, .footer .info .main .store .description a {
        display: inline;
        font-size: 16px;
        margin-left: 10px;
    }
  .footer .info .main .office {
        width: 46%;
        margin-right: auto;
    }
  .footer .info .main .office .title {
        width: 26%;
    }
  .footer .info .main .office .description {
        margin-left: 0;
        width: 79%;
    }
  .footer .info .main .store {
        width: 44%;
    }
  .footer .info .main .store .title {
        width: 38%;
    }
  .footer .info .main .store .description {
        margin-left: 0;
    }
  .footer .info .main .telephone {
        width: 47%;
    }
  .footer .info .main .telephone .title {
        font-size: 16px;
    }
  .footer .info .main .telephone .block .title {
        font-size: 16px;
    }
  .footer .info .main .telephone .block .description a {
        font-size: 16px;
    }
  .footer .info .main .telephone .block:last-child {}
  .footer .info .main .time {
        display: block;
        width: 44%;
        margin-top: 30px;
        margin-left: auto;
    }
  .footer .info .main .time .title {
        font-size: 16px;
    }
  .footer .info .main .time .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 9px;
        margin-bottom: 9px;
    }
  .footer .info .main .time .block .left {
        font-size: 16px;
        width: 27%;
    }
  .footer .info .main .time .block .right {
        font-size: 16px;
    }
  .footer .info .main .mail .title {
        font-size: 16px;
        width: auto;
        margin-right: 30px;
    }
  .footer .info .main .mail .description a {
        font-size: 16px;
    }
  .footer::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #e2ddd9;
    border-width: 0 50px 300px 0;
    z-index: 1;
    }
  .content p, .content p span {
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #3d3c3f;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
    }
  .content p.tablet-on, .content p span.tablet-on {
        display: block;
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #3d3c3f;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
    }
  .content .reference-info .block a .text .title {
        font-size: 18px;
        line-height: 1.444;
    }
  .content .reference-info .block a .text .size {
        font-size: 16px;
        line-height: 1.444;
    }
  .content.wrapper {
      padding-bottom: 60px;
    }
  .wrapper {
    max-width: 732px;
    }
    }

@media (min-width: 1165px) {.content h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }.content .block-with-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }.content .block-with-img img {
        margin-left: 0;
    }.content .block-with-img .text {
        max-width: 664px;
    }.content .block-with-img .description {
        margin-top: 0;
    }
  .desktop-on {
    display: block;
  }
  .header::after {
      right: 610px;
    }
  .header .logo {
        width: 13.8%;
        margin-left: 0;
    }
  .header .telephone {
        width: 16%;
        margin-left: 0;
        margin-right: 0;
    }
  .header .telephone a {
        width: 100%;
    }
  .header .buttons .call a, .header .buttons .feedback a {
        font-weight: 300;
        line-height: 2.8;
    }
  .header .buttons .call::before, .header .buttons .call::after, .header .buttons .feedback::before, .header .buttons .feedback::after {}
  .header .address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-right: 0;
        width: 27%;
    }
  .header .address .block::after {
        content: "";
        display: block;
        margin-left: 18px;
        background-image: url(../img/sprite.png);
        background-position: -192px -75px;
        background-size: 286px 206px;
        width: 40px;
        height: 40px;
        display: block;
    }
  .header .address .block {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
  .header .address .block .text {
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: 300;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 95%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
  .header .address .block .text p {
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 16px;
        color: #251f0f;
    }
  .header .address .block .text p span {
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #251f0f;
    }
  .header .address .block:first-child {
        margin-bottom: 30px;
    }
  .header::before {
      left: 170px;
    }
  .menu .wrapper {
        max-width: 1165px;
        margin-left: auto;
        margin-right: auto;
    }
  .menu .search .input {}
  .menu .search .submit-button .submit {}
  .menu .top-menu ul {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        opacity: 1;
        position: initial;
        margin: 0;
        width: 100%;
        background: transparent;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        padding: 0;
    }
  .menu .top-menu ul li:hover {
        background: #8d7966;
    }
  .menu .top-menu ul li:hover a {
        color: #f0edeb;
    }
  .menu .top-menu ul li:last-child {
        margin: 0;
    }
  .menu .top-menu ul li:first-child {
        margin: 0;
    }
  .menu .top-menu ul li::after {
        margin-left: 8px;
    }
  .menu .top-menu ul li::after {
        content: "";
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent #e2ddd9;
        border-width: 0 13px 58px 0;
        z-index: 1;
    }
  .menu .top-menu ul li::before {
        margin-right: 8px;
    }
  .menu .top-menu ul li {
        margin: 0;
        width: auto;
        height: 58px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
    }
  .menu .top-menu ul li a {
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #3d3c3f;
    }
  .menu .top-menu ul li::before {
        content: "";
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13px 58px 0;
        z-index: 1;
        border-color: transparent transparent #e2ddd9;
    }
  .menu .top-menu .gamburger {
        display: none;
    }
  .footer .logo .wrapper {
        // max-width: 915px;
        max-width: 1165px;
    }
  .footer .logo .wrapper .company a {}
  .footer .logo .wrapper .company .description {
        margin-left: 24px;
    }
  .footer .logo .wrapper .creator a {}
  .footer .logo .wrapper .creator .description {
        margin-left: 24px;
        // width: 34%;
        width: auto;
    }
  .footer .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1165px;
    }
  .footer .fon {
        width: 100%;
    }
  .footer .fon-right {
        background: #e2ddd9;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
        width: 37%;
        right: 0;
        position: absolute;
    }
  .footer .info .main {
        width: 60%;
    }
  .footer .info .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: auto;
        max-width: 36%;
        margin-left: auto;
        padding-top: 30px;
        padding-bottom: 25px;
    }
  .footer .info .links ul {
        margin-top: 0;
        margin-bottom: 0;
    }
  .footer .info .links ul li {
        list-style-type: none;
        display: block;
        margin-bottom: 10px;
    }
  .footer .info .links ul li a {
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: #8d7966;
        width: 100%;
    }
  .footer::after {
      right: 37%;
      z-index: 0;
    }
  .content p, .content p span {}
  .content p.desktop-on, .content p span.desktop-on {
        display: block;
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #3d3c3f;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
    }
  .content.wrapper {
      max-width: 1155px;
      padding-bottom: 80px;
    }
  .wrapper {
    max-width: 1165px;
    }
    }

@media (min-width: 1300px) {
  .footer .fon-right {
        width: 38%;
    }
  .footer::after {
      right: 38%;
    }
}

@media (min-width: 1500px) {
  .footer .fon-right {
        width: 40%;
    }
  .footer::after {
      right: 40%;
    }
}

@media (min-width: 1800px) {
  .footer .fon-right {
        width: 41%;
    }
  .footer::after {
      right: 41%;
    }
}

@media (min-width: 2000px) {
  .footer .fon-right {
        width: 43%;
    }
  .footer::after {
      right: 43%;
    }
}

@media (min-width: 2500px) {
  .footer .fon-right {
        width: 44%;
    }
  .footer::after {
      right: 44%;
    }
}
